*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --height__header--movil: 50px;
  --color-gray: rgb(103, 103, 103);
  --color-gray-cards: rgb(130, 148, 168);
  --border-color: rgb(239, 239, 239);
  --font__family--montserrat: "Montserrat";
  --font__family--gloock: "Gloock", serif;
  --font__family--lora: "Lora", serif;
}

body {
  overflow-x: hidden;
}

.header__content__information {
  height: var(--height__header--movil);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.header__content__information--white {
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.header__logo,
.header__logo--gray {
  color: #fff;
  text-decoration: none;
  font-family: var(--font__family--montserrat);
}

.header__logo--gray {
  color: #000;
}

.header__content__menuBurger {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 1rem;
  cursor: pointer;
}

.header__menuBurger--line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 10px;
}

/* .header__menuBurger {
  width: 50%;
  cursor: pointer;
} */

/* start header image */

.header__content__image {
  width: 100vw;
  position: relative;
  top: 0;
  z-index: -10;
  height: 120vh;
}

.header__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.header__image__content--text {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__image--text--title {
  font-size: 22.5px;
}

.header__image--line {
  width: 50%;
  height: 1px;
  background: #fff;
  margin: 0.3rem 0;
}

.header__image--text--description {
  font-size: 22.5px;
}

/* end header image */

/* start header nav */

.header__menu--nav {
  position: absolute;
  width: 100vw;
  top: var(--height__header--movil);
  left: -100vw;
  transition: left 0.3s linear;
}

.header__menu--nav--toggle {
  left: 0;
}

.header__menu--ul {
  list-style: none;
}

.header__menu--a {
  text-decoration: none;
  display: block;
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding-left: 1rem;
  transition: background-color 0.3s linear;
  text-transform: capitalize;
  font-family: var(--font__family--montserrat);
}

.header__menu--a:hover {
  background-color: cyan;
  background-color: rgba(0, 0, 0, 0.8);
}

/* end header nav */

/* start main */

.main {
  background-color: #f8f8f8;
}

/* start section years */

.main__container__section__anio {
  padding-top: 2rem;
}

.main__content__photo__anio {
  width: 100%;
  padding: 0 2rem;
}

.main__photo__anio {
  width: 100%;
}

.main__content__information__anio {
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 14px;
  color: var(--color-gray);
}

.main__information--title__anio {
  font-weight: normal;
  margin: 1rem 0;
  font-family: var(--font__family--gloock);
}

.main__information--text__anio {
  font-size: 16px;
  line-height: 25px;
  font-family: var(--font__family--montserrat);
}

.main__information--button__anio,
.main__information--button__aboutMe,
.main__card__plan--reserve {
  text-transform: uppercase;
  padding: 1rem;
  background: transparent;
  font-weight: bold;
  display: block;
  margin: 2rem auto;
  border: none;
  border: 2px solid var(--color-gray);
  cursor: pointer;
  transition: background-color 0.2s linear;
  color: var(--color-gray);
  border-radius: 2px;
}

.main__information--button__anio:hover,
.main__information--button__aboutMe:hover,
.main__card__plan--reserve:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

/* end section years */

/* start section about me */
.main__container__section__aboutMe {
  background-color: #333333;
  color: #fff;
}

.main__content__information__aboutMe {
  text-align: center;
  padding: 2rem;
}

.main__information--text__aboutMe,
.main__information--text__aboutMe--two {
  font-size: 18px;
  font-family: var(--font__family--lora);
  color: rgb(191, 191, 191);
}

.main__information--text__aboutMe--two {
  color: rgb(255, 255, 255);
  font-size: 19px;
}

.main__information--title__aboutMe {
  margin: 1rem 0 2rem 0;
  font-size: 22px;
  font-weight: normal;
  font-family: var(--font__family--gloock);
}

.main__information--button__aboutMe {
  color: #fff;
  border-color: #fff;
}

.main__information--button__aboutMe:hover {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}

.main__information__content__socialNetworks {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}

.main__information__content__socialNetworks img {
  width: 20px;
}

/* end section about me */

/* start section cards plans */

.section__cards__plans {
  padding-top: 5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__container__cards__plans {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  width: 80%;
}

.main__card__plan--title {
  text-align: center;
  font-family: var(--font__family--gloock);
  font-size: 22.5px;
  color: rgb(68, 68, 68);
  font-weight: 400;
  margin-bottom: 2rem;
}

.main__content__card_plan {
  border: 1px solid var(--border-color);
  margin: 1rem 0;
  width: 100%;
}

.main__card__plan--type {
  font-size: 16px;
  text-transform: capitalize;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
  padding: 1rem 0;
  font-family: var(--font__family--lora);
  color: var(--color-gray-cards);
}

.main__card__plan--price {
  border-bottom: 1px solid var(--border-color);
  padding: 1rem 0;
  font-family: var(--font__family--gloock);
  font-size: 54px;
  text-align: center;
  color: rgb(51, 51, 51);
}

.main__card__plan--content__image {
  width: 100%;
  height: 300px;
}

.main__card__plan--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__card__plan--benefits {
  font-family: var(--font__family--montserrat);
  color: var(--color-gray-cards);
  border-bottom: 1px solid var(--border-color);
  padding: 1rem 0 1rem 1rem;
  transition: background-color 0.2s linear;
  cursor: pointer;
}

.main__card__plan--benefits:hover {
  background-color: rgb(240, 240, 240);
}

.main__card__plan--reserve {
  text-decoration: none;
  text-align: center;
  width: 50%;
  font-family: var(--font__family--montserrat);
  transition: background-color 0.2s linear;
}

@media screen and (min-width: 768px) {

  .main__container__cards__plans {
    grid-template-columns: repeat(2, 1fr);
  }

  /* .main__content__card_plan {
    width: 100%;
  } */
}

@media screen and (min-width: 1024px) {

  .main__container__cards__plans {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {

  .main__container__cards__plans {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* end section cards plans */

/* start section how does it work */

.main__section__how__work {
  background-color: #333333;
  color: #fff;
  padding: 2rem 0;
}

.main__how__work--title {
  font-family: var(--font__family--gloock);
  font-size: 22.5px;
  text-align: center;
}

.main__how__work--container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
}

.main__how__work--content--info {
  text-align: center;
  font-family: var(--font__family--montserrat);
  padding: 1rem;
}

.main__how__work--number {
  padding: 1rem 0;
  font-size: 30px;
}

/* end section how does it work */

/* end main */

/* start footer */

.footer {
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

.footer--content__social__networks {
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  position: relative;
}

.footer__social__networks--icon {
  font-size: 20px;
  color: lime;
  color: rgb(119, 119, 119);
  transition: color .1s linear;
}

.footer__social__networks--icon:hover {
  color: #fff;
}

.footer__social__networks--icon::before {
  content: "";
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid rgb(119, 119, 119);
  transition: color .1s linear;
}

.footer__social__networks--icon:hover::before {
  border-color: #fff;
}

.footer span {
  display: flex;
  color: rgb(119, 119, 119);
  font-family: var(--font__family--montserrat);
  font-size: 12px;
}

.footer p {
  margin-right: 10px;
}


/* end footer */